html {
    width: fit-content;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FBF7EF;
}
.button {
    text-align: center;
    color: #FBF7EF;
    font-size: 3rem;
    text-decoration: none;
    background-color: #bc4749;
    padding: 2rem;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 4rem;
    font-weight: bold;
}


/* saving nav bar for later */
.hero {
    text-align: center;
    padding: 8rem 10rem;
    background-color: #6a994e;
    color: #FBF7EF;
}
.hero h1 {
    font-size: 6rem;
    font-weight: bolder;
    margin-top: 0;
}
.hero h3 {
    font-weight:bold;
}
/*
.hero a {
    color: #FBF7EF;
    font-size: 3rem;
    text-decoration: none;
    background-color: #bc4749;
    padding: 2rem;
    border-radius: 2rem;
    display: inline-block;
    margin-top: 4rem;
    font-weight:bold;
}
*/
.about-us {
    margin: 12rem 5rem;
    color: #386641;
}
.about-us h4 {
    font-size: 5rem;
    font-weight: bold;
    margin: 3rem 0;
}
.about-us {
    font-size: 1rem;
}
.about-us a {
    background-color: #d58a86;
    font-size: 3rem;
    text-align: center;
}
.about-us img {
    display: block;
    width: 800px;
    margin: 5rem auto;

}