

* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    background-color: #dc9f9c;
}
.nav img {
    width: 150px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
.nav ul {
    text-align: center;
}
.nav li {
    display: inline-block;
    padding: 1rem;
}
.nav a {
    text-decoration: none;
    color:#386641;
    font-weight: bold;
    font-size: 1rem;
}
.nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.button {
    text-decoration: none;
    background-color: #dc9f9c;
    color: #386641;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bolder;
}
.button:hover {
    background-color: #bc4749;
    color: #fbf7ef
}

.hero {
    background-color: #386641;
    background-size: auto 100%;
    padding: 7rem 4rem;
    text-align: center;
    color: #fbf7ef;
}
.hero h1 {
    margin-bottom: 2rem;
}
.hero h3 {
    font-weight:normal;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
    .hero {
        padding: 10rem 8rem;
    }
    .hero h1 {
        font-size: 5rem;
        margin-bottom: 3rem;
    }
    .hero h3 {
        font-size: 2rem;
        margin-bottom: 4rem;
    }
    .hero a {
        font-size: 1.7rem;
    }
}


.about-us {
    background-color:#fbf7ef;
    color: #386641;
    padding: 5rem 3rem;
    margin: 0;
    display: inline-block;
    max-width: 1200px;
    overflow: auto;
}
.about-us-text {
    display: inline-block;
}
.about-us h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight:lighter;
}
.about-us .about-us-text p {
    line-height: 1.7rem;
    font-weight: 100;
    margin-bottom: 2.5rem;
}
.about-us #about-us-link {
    text-align: center;
    margin-bottom: 2.5rem;
}
.about-us a {
    font-size: 1.2rem;
}
.about-us img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 830px) {
    .about-us {
        margin: 0 auto;
        display: block;
    }
    .about-us-text {
        width: 50%;
        margin-top: 2%;
    }
    .about-us img {
        width: 45%;
        float: right;
    }
}


.featured-recipes {
    background-color:#fbf7ef;
    color:#386641;
    padding-left: 3em;
}
.featured-recipes h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight:lighter;
}
.recipe-cards {
    display: grid;
    gap: 1rem;
}
@media screen and (min-width: 600px) {
    .recipe-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 900px) {
    .recipe-cards{
        grid-template-columns: repeat(3, 1fr);
    }
}
.recipe{
    position: relative;
    text-align: center;
    height: 275px;
}
.recipe img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.recipe h5 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin: 0;
    color:#FBF7EF;
    padding: .3rem
}
.recipe p {
    position: absolute;
    top: 13px;
    left: -4px;
    background-color: #386641;
    color:#FBF7EF;
    margin: 0;
    padding: .5rem .7rem;
    font-size: .8rem;
    font-weight: bold;
}
.recipe:hover {
    outline: 4px solid #000000;
    outline-offset: -10px;
    z-index:10;
    filter: brightness(75%);
}


.footer {
    background-color: white;
    padding: 2rem;
    padding-top: 5rem;
    margin: 0;
}
.footer .logos {
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
}
#cookingforacoolerplanet {
    margin-right: 1rem;
}
.footer img {
    width: 140px;

}

.browse {
    text-align: center;
}
.browse h2 {
    color:#386641;
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}
.browse ul {
    list-style-type: none;
}
.browse a {
    display: inline-block;
    text-decoration: none;
    color:#386641;
    margin-bottom: .7rem;
    font-weight: 400;
}
.footer .socials {
    margin-top: 1rem;
    text-align: center;
}
.socials a {
    font-weight: lighter;
    font-size: 1.5rem;
    background-color:#386641;
    padding: .6rem .7rem;
    border-radius: 5px;
    text-decoration: none;
    color:#fbf7ef;
}