body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FBF7EF;
}
* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #dc9f9c;
    padding-bottom: 5em;
}
.nav img {
    width: 150px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
.nav ul {
    text-align: center;
}
.nav li {
    display: inline-block;
    padding: 1rem;
}
.nav a {
    text-decoration: none;
    color:#386641;
    font-weight: bold;
    font-size: 1rem;
}
.nav a:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

@media screen and (min-width: 730px) {
    .nav {
        padding-bottom: 0;
    }
    .main-content {
        margin: 0;
        margin-top: 5em;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        border: 9px solid #386641;
    }
}

.overview {
    background-color:#386641;
    position: relative;
}
.overview img {
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: auto;
    border-radius: 30%;
    outline: 9px solid #386641;
}
.overview .text {
    padding-top: 130px;
    color: #FBF7EF;
    text-align: center;
    padding-bottom: 10px;
}
.overview h1 {
    font-size: 2.7em;
    border-bottom: 2.5px solid #FBF7EF;
    padding-bottom: 20px;
    margin: 0 1em;
    margin-bottom: 10px;
}
.overview li {
    font-size: .9em;
    margin-bottom: 7px;
    font-weight:bold;
}
.overview a {
    color: #FBF7EF;
}
.overview a:link {
    color: #e4b198bb;
}

.main-recipe {
    padding: 25px;
    color: #386641;
    font-style: normal;
}
.main-recipe li {
    list-style: none;
}
.main-recipe h2 {
    font-size: 1.3em;
    font-family: "Lucida Grande";
    color: rgb(77,77,77);
    margin-bottom: 10em;
}
.main-recipe h3 {
    font-size: 1.2em;
    font-family: "Lucida Grande";
}

.notes {
    line-height: 22px;
    margin-bottom: 25px;
    border-bottom: 2.5px solid rgb(182, 182, 182);
    padding-bottom: 30px;
}

.ingredients {
    border-bottom: 2.5px solid rgb(182, 182, 182);
    padding-bottom: 30px;
    margin-bottom: 25px;
}
.ingredients h2 {
    margin-bottom: 25px;
    margin-top: 30px;
}
.ingredients li{
    margin-bottom: 15px;
}

.directions h2{
    margin-bottom: 15px
}
.directions li {
    margin-bottom: 15px;
    display: block;
    line-height: 25px;
}
.directions .number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:25px;
    border-radius:50%;
    background-color:#386641;
    color:#fff;
    margin-right: 5px;
    font-weight: bold;
}

.footer {
    background-color: white;
    padding: 2rem;
    padding-top: 5rem;
    margin: 0
}
.footer .logos {
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
}
#cookingforacoolerplanet {
    margin-right: 1rem;
}
.footer img {
    width: 140px;
}

.browse {
    text-align: center;
}
.browse h2 {
    color:#386641;
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}
.browse ul {
    list-style-type: none;
}
.browse a {
    display: inline-block;
    text-decoration: none;
    color:#386641;
    margin-bottom: .7rem;
    font-weight: 400;
}
.footer .socials {
    margin-top: 1rem;
    text-align: center;
}
.socials a {
    font-weight: lighter;
    font-size: 1.5rem;
    background-color:#386641;
    padding: .6rem .7rem;
    border-radius: 5px;
    text-decoration: none;
    color:#fbf7ef;
}